<div id="tabset">
<ul>
<li><a href="#panel1">Config</a></li>
<li><a href="#panel2">Note</a></li>
<li><a href="#panel3">Control</a></li>
</ul>
<div id="panel1">
<form id="host_form">
Name:<input type="text" name="name" value="{{host.name}}"/>
<br>
Source:<select name="source_type">
	<option value="image_id">image</option>
	<option value="instance_snapshot_id">snapshot</option>
</select>
<br>
Flavor:<select name="flavor">
	<option value=1>tiny</option>
	<option value=2>small</option>
	<option value=3>medium</option>
	<option value=4>large</option>
	<option value=5>xlarge</option>
</select>
<br>
Image:<select name="image">
{% for image in image_list%}
	<option value="{{image.id}}">{{image.name}}</option>
{%endfor%}
</select>
</form>
</div>
<div id="panel2">
<textarea name="note" rows="4" cols="35"></textarea>
</div>
<div id="panel3">
	<div id="start"><img src="/static/icons/start.png"></div>	
	<div id="stop"><img src="/static/icons/stop.png"></div>	
	<div id="console"><img src="/static/icons/console.png"></div>	
</div>
</div>
<script>
$(function(){
	$("#start").button();
	$("#start").bind('click',function(event){
		$.ajax({
        	        type:"POST",
                	url:"/ajax/top/"+{{host.id}}+"/server_create",
			dataType:"text",
			sucess:function(res){
				
			}
                });
	});
                
		
	$("#stop").button();
	$("#console").button();
	$("#console").bind('click',function(event){
		window.open("{{url}}&title={{host.name}}({{host.instanceId}})")
	});
});
</script>



