{% extends "auth/base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Welcome to NicLab TestBed" %}</h1>
<div style="position:relative;width:830px;height:320px">
	<div style="position:absolute;left:0;top:0;width:520px;">
		<p>{% trans "NicLab TestBed gives researchers the possibility to design and use virtual networking topologies consisting of devices and connectors." %}</p>
		<img src="/static/example1.png"/>
		<p>{% trans "Please login to create your own project or on " %}<a href="">{% trans "Help" %}</a>{% trans " to get more information on using this tool." %}</p>
	</div>
	<div style="position:absolute;left:630px;top:0">
		<form action="" method="post">{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" style="float:right">Sign In</button>
		<input type="hidden" name="next" value="/pro" />
		</form>
	</div>
</div>
{% endblock %}
